{% extends 'base.html' %}
{% load static %}

{% block title %}Video{% endblock %}

{% block content %}

<div class="row">
	<a href="{% url 'apps.video.views.video_detail' 5 %}" class="dept-promo">
		<img class="background" src="{% static 'img/promos/outerspaces-promo.jpg' %}">
		<div class="content">
			<p>Coming in December</p>
			<p class="link">Watch the trailer &rarr;</p>
		</div>
	</a>
</div>

{% if video_list %}
<div class="row">
	<div class="large-12 columns">
		<h2>Videos</h2>

		<ul class="large-block-grid-3">
			{% for video in video_list %}
			<li><a href="{% url 'apps.video.views.video_detail' video.id %}">
				<img src="{{ video.image.url }}" alt="" class="thumb">
				<h3>{{ video.title }}</h3>
			</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% endblock %}