{% extends 'base.html' %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}

<div class="video-detail-player">
	<div class="row">
		<div class="flex-video widescreen{% if video.service == 'vimeo' %} vimeo{% endif %} ">
			{% if video.service == "youtube" %}
				<iframe id="video-detail-player" width="875" height="492" src="http://www.youtube.com/embed/{{ video.videoid }}" frameborder="0" allowfullscreen></iframe>
			{% elif video.service == "vimeo" %}
				<iframe src="http://player.vimeo.com/video/{{ video.videoid }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="875" height="492" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			{% endif %}
		</div>
	</div>
</div>

<div class="row main video-detail-info">
	<div class="large-10 large-centered columns">
		<h1>{{ video.title }}</h1>

		<time>{{ video.pub_date }}</time>
		<p>{{ video.description }}</p>
	</div>
</div>

{% if video_list %}
<div class="row">
	<div class="large-12 columns">
		<h2>More Videos</h2>

		<ul class="large-block-grid-3 small-block-grid-1">
			{% for v in video_list %}
			<li><a href="{% url 'apps.video.views.video_detail' v.id %}" class="block-link">
				<img src="{{ v.image.url }}" alt="{{ v.title }}" class="thumb">
				<h3>{{ v.title }}</h3>
			</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% endblock content %}