{% extends 'base.html' %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}

<div class="video-detail-player">
	<div class="row">
		<div class="flex-video widescreen{% if video.service == 'vimeo' %} vimeo{% endif %} ">
			{% if video.service == "youtube" %}
				<iframe id="video-detail-player" width="875" height="492" src="http://www.youtube.com/embed/{{ video.videoid }}" frameborder="0" allowfullscreen></iframe>
			{% elif video.service == "vimeo" %}
				<iframe src="http://player.vimeo.com/video/{{ video.videoid }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="875" height="492" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			{% endif %}
		</div>
	</div>
</div>

<div class="video-detail-info"{% if video.track %}style="margin-bottom: 0"{% endif %}><div class="row">
	<div class="large-8 columns">
		<h1>{{ video.title }}</h1>

		<time>{{ video.pub_date }}</time>
		<p>{{ video.description }}</p>
	</div>
</div></div>

{% if video.track %}
{% with video.track as track %}
<div class="video-detail-track"><div class="row">
	<div class="large-12 columns">
		<p class="get-the-track">Get the track</p>
		<img src="{{ track.album.image.url }}" alt="Cover art for &quot;{{ track.title }}&quot; by {{ track.artist }}" class="cover">
		<div class="info">
			<p class="title">{{ track.title }}</p>
			<p class="artist">{{ track.artist }}</p>
			<p class="album">{{ track.album }}</p>
		</div>
		<a href="{% url 'apps.music.views.track_detail' track.id %}" data-player-track="{{ track.id }}" class="button no-ajaxy">Listen</a>
		{% if track.download_link %}<a href="{{ track.download_link.url }}" class="secondary button">Download</a>{% endif %}
	</div>
</div></div>
{% endwith %}
{% endif %}

{% if video_list %}
<div class="row">
	<div class="large-12 columns">
		<h2>More Videos</h2>

		<ul class="large-block-grid-3 small-block-grid-1">
			{% for v in video_list %}
			<li><a href="{% url 'apps.video.views.video_detail' v.id %}" class="block-link">
				<img src="{{ v.image.url }}" alt="{{ v.title }}" class="thumb">
				<h3>{{ v.title }}</h3>
			</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

{% endblock content %}