{% extends 'base.html' %}
{% load static %}

{% block title %}Writing{% endblock %}

{% block content %}

<div class="row">
  <a href="{% url 'apps.writing.views.zine_index' %}" class="dept-promo">
    <img class="background" src="{% static 'img/promos/adh-promo.jpg' %}">
    <div class="content">
      <p>Addicted to Humans &mdash; Steps to a Human-Free Life</p>
      <p class="link">Read Issue 1 &rarr;</p>
    </div>
  </a>
</div>

<div class="row">
  <div class="large-8 push-4 columns">
    
    {% regroup story_list by get_category_display as category_list %}

    {% for category in category_list %}

      <h2>{{ category.grouper }}</h2>

      <ul class="media-list">
        {% for item in category.list %}
          <li class="media-list-item">
            <a href="{% url 'apps.writing.views.story_detail' item.id %}" class="widescreen thumb">
              <img src="{{ item.image.url }}" alt="{{ item.title }}">
            </a>
            <div class="content">
              <a href="{% url 'apps.writing.views.story_detail' item.id %}">
                <h3 class="title">{{ item.title }}</h3>
                <p class="info">by {{ item.author }}</p>
              </a>
              <p>{{ item.body|truncatewords:30 }}</p>
              <a href="{% url 'apps.writing.views.story_detail' item.id %}" class="button">Read</a>
            </div>
          </li>
        {% endfor %}
      </ul>

    {% endfor %}
  </div>

  <div class="large-4 pull-8 columns">
    <h2>Contributors</h2>

    <ul class="writer-list">
      <li class="writer-list-item">
        <img src="http://placehold.it/100x100" alt="" class="photo">
        <p class="name">Brian Maxwell</p>
      </li>
      <li class="writer-list-item">
        <img src="http://placehold.it/100x100" alt="" class="photo">
        <p class="name">Brian Maxwell</p>
      </li>
      <li class="writer-list-item">
        <img src="http://placehold.it/100x100" alt="" class="photo">
        <p class="name">Brian Maxwell</p>
      </li>
    </ul>
  </div>
</div>

{% endblock %}