{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}

<div class="row about-tagline">
  <div class="large-12 columns">
    <h1 class="weis">We are <em>Polymath</em>.</h1>
    <p class="weis-sub">We’re a group of creatives, collaborating on original music, video, writing, and audio, for you to enjoy and share for free.</p>
    <p class="weis-nav">Below: <a href="">Our productions</a> • <a href="">Contributors</a> • <a href="">Talk to us</a></p>
    <hr class="divider">
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2>Our productions</h2>

    <div class="row">
      <div class="large-6 columns">
        <img src="http://placehold.it/16x9" class="thumb" alt="">
        <h3>Polymath Musicians</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, numquam harum modi nam temporibus laboriosam vitae iste sint ea similique aliquid quibusdam voluptatibus quaerat eaque enim est totam! Possimus, corrupti.</p>
        <p><a href="">Listen to Polymath musicians &rarr;</a></p>
      </div>
      <div class="large-6 columns">
        <img src="http://placehold.it/16x9" class="thumb" alt="">
        <h3>Polymath Musicians</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, numquam harum modi nam temporibus laboriosam vitae iste sint ea similique aliquid quibusdam voluptatibus quaerat eaque enim est totam! Possimus, corrupti.</p>
        <p><a href="">Listen to Polymath musicians &rarr;</a></p>
      </div>
      <div class="large-6 columns">
        <img src="http://placehold.it/16x9" class="thumb" alt="">
        <h3>Polymath Musicians</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, numquam harum modi nam temporibus laboriosam vitae iste sint ea similique aliquid quibusdam voluptatibus quaerat eaque enim est totam! Possimus, corrupti.</p>
        <p><a href="">Listen to Polymath musicians &rarr;</a></p>
      </div>
      <div class="large-6 columns">
        <img src="http://placehold.it/16x9" class="thumb" alt="">
        <h3>Polymath Musicians</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, numquam harum modi nam temporibus laboriosam vitae iste sint ea similique aliquid quibusdam voluptatibus quaerat eaque enim est totam! Possimus, corrupti.</p>
        <p><a href="">Listen to Polymath musicians &rarr;</a></p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  
</div>

{% endblock %}