{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8" />
 	<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0" />
 	<title>{% block title %}{% endblock %} - Polymath</title>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
 	<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
 	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
 	<script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
</head>

 <body class="{{ current_dept|lower }}-page">
 	
	<header class="header"><div class="row">
		<div class="large-12 columns">
			<a href="/" class="logo">
				<img src="{% static 'img/logo.svg' %}">
				<span>Polymath</span>
			</a>
			<ul class="dept-nav">
				<li class="music"><a href="{% url 'apps.music.views.index' %}">Music</a></li>
				<li class="video"><a href="{% url 'apps.video.views.index' %}">Video</a></li>
				<li class="writing disabled"><a href="">Writing</a></li>
				<li class="audio disabled"><a href="">Radio</a></li>
			</ul>
			<ul class="secondary-nav">
				<li class="about"><a href="{% url 'apps.people.views.about' %}">What is Polymath?</a></li>
				<li class="about"><a href="/calendar">Calendar</a></li>
				<!-- <li class="icon"><a href="">c</a></li> -->
				<!-- <li class="icon"><a href="http://facebook.com/PolymathArts" target="_blank">f</a></li> -->
				<!-- <li class="icon"><a href="http://twitter.com/PolymathArts" target="_blank">t</a></li> -->
				<!-- <li class="icon"><a href="">y</a></li> -->
			</ul>
		</div>
	</div></header>

	<div id="content">
	{% block content %}{% endblock %}
	</div>

	<footer class="footer">
		<hr class="divider">
		<p class="polymath">Polymath</p>
		<img src="{% static 'img/logo.svg' %}" alt="" class="logo">
		<div class="nav">
			<ul>
				<li>Departments:</li>
				<li class="music"><a href="{% url 'apps.music.views.index' %}">Music</a></li>
				<li class="video"><a href="{% url 'apps.video.views.index' %}">Video</a></li>
				<li class="writing disabled"><a href="">Writing</a></li>
				<li class="audio disabled"><a href="">Radio</a></li>
			</ul>
			<ul>
				<li>Colophon:</li>
				<li><a href="{% url 'apps.people.views.about' %}">About Polymath</a></li>
				<li><a href="/calendar">Release Calendar</a></li>
			</ul>
			<ul>
				<li>Social:</li>
				<li><a href="https://facebook.com/PolymathArts" target="_blank">Facebook</a></li>
				<li><a href="https://twitter.com/PolymathArts" target="_blank">Twitter</a></li>
				<li><a href="http://polymathtk.tumblr.com" target="_blank">Tumblr</a></li>
				<li><a href="http://youtube.com/polymathtk" target="_blank">YouTube</a></li>
			</ul>
		</div>
	</footer>

	<div data-player class="master-player inactive">
		<div class="master-player-inner">
			<div class="cover-art">
				<img data-coverart src="http://placehold.it/1x1">
			</div>
			<div data-progress class="progress">
				<span></span>
			</div>
			<a data-prevtrack class="icon prev-button">&#9194;</a>
			<a data-playpause class="icon playpause-button">&#9654;</a>
			<a data-nexttrack class="icon next-button">&#9193;</a>
			<div class="track-info">
				<p data-title class="track-title">No Music Playing</p>
				<p data-artist class="track-artist">Not never, no way</p>
				<p class="track-time">
					<span data-currenttime>0:00</span> /
					<span data-totaltime>0:00</span>
				</p>
			</div>
			<!-- <input type="range" data-slider min="0" step="1" value="0"> -->
			<a data-menu class="menu-button icon">&#57349;</a>
		</div>
		<div class="master-player-playlist">
			<ul data-playlist class="tracklist">
			</ul>
		</div>
		<audio data-audio></audio>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	{% if is_debug %}
	<script src="{% static 'js/src/jquery-ui-1.10.3.custom.js' %}"></script>
	<script src="{% static 'js/src/jquery-scrollto.js' %}"></script>
	<script src="{% static 'js/src/history.js' %}"></script>
	<script src="{% static 'js/src/ajaxify.js' %}"></script>
	<script src="{% static 'js/src/script.js' %}"></script>
	{% else %}
	<script src="{% static 'js/script.min.js' %}"></script>
	{% endif %}

	<script>
		$(function(){
			var $header = $('.header');
			var $nav_icon = $('.nav-icon');

			$nav_icon.on('click', function(){
				$header.toggleClass('nav-open');
			});
		})
	</script>
	{% block script %}{% endblock %}

 </body>

 </html>