{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
	<meta charset="utf-8" />
 	<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0" />
 	<title>{% block title %}{% endblock %} - Polymath</title>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
 	<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" />
 	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
 	<script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
</head>

 <body class="{{ current_dept|lower }}-page">
 	
	<header class="header"><div class="row">
		<div class="large-12 columns">
			<a href="/" class="logo">
				<img src="{% static 'img/logo.svg' %}">
				<span>Polymath</span>
			</a>
			<ul class="dept-nav">
				<li class="music"><a href="{% url 'apps.music.views.index' %}">Music</a></li>
				<li class="video"><a href="{% url 'apps.video.views.index' %}">Video</a></li>
				<li class="writing"><a href="{% url 'apps.writing.views.index' %}">Writing</a></li>
				<li class="audio disabled"><a href="">Audio</a></li>
			</ul>
			<ul class="secondary-nav">
				<li class="about"><a href="{% url 'apps.people.views.about' %}">What is Polymath?</a></li>
				<li class="about"><a href="">Calendar</a></li>
				<!-- <li class="icon"><a href="">c</a></li> -->
				<!-- <li class="icon"><a href="http://facebook.com/PolymathArts" target="_blank">f</a></li> -->
				<!-- <li class="icon"><a href="http://twitter.com/PolymathArts" target="_blank">t</a></li> -->
				<!-- <li class="icon"><a href="">y</a></li> -->
			</ul>
		</div>
	</div></header>

	{% block content %}{% endblock %}

	<footer class="footer">
		<hr class="divider">
		<p class="polymath">Polymath</p>
		<img src="{% static 'img/logo.svg' %}" alt="" class="logo">
		<div class="nav">
			<ul>
				<li>Departments:</li>
				<li class="music"><a href="{% url 'apps.music.views.index' %}">Music</a></li>
				<li class="video"><a href="{% url 'apps.video.views.index' %}">Video</a></li>
				<li class="writing"><a href="">Writing</a></li>
				<li class="audio"><a href="">Audio</a></li>
			</ul>
			<ul>
				<li>Colophon:</li>
				<li><a href="{% url 'apps.people.views.about' %}">About Polymath</a></li>
				<li><a href="">Release Calendar</a></li>
			</ul>
			<ul>
				<li>Social:</li>
				<li><a href="https://facebook.com/PolymathArts" target="_blank">Facebook</a></li>
				<li><a href="https://twitter.com/PolymathArts" target="_blank">Twitter</a></li>
				<li><a href="" target="_blank">Tumblr</a></li>
				<li><a href="" target="_blank">YouTube</a></li>
			</ul>
		</div>
	</footer>

	<script src="{{ STATIC_URL }}js/vendor/zepto.js"></script>
	<script>
		$(function(){
			var $header = $('.header');
			var $nav_icon = $('.nav-icon');

			$nav_icon.on('click', function(){
				$header.toggleClass('nav-open');
			});

			$('.cover-toggle').on('click', function(){
				// Flip the cover
				$(this).siblings('.covers').toggleClass('flipped');

				// Swap the image source
				var tmp = $(this).data('alt');
				$(this).data('alt', $(this).children('img')[0].src);
				$(this).children('img')[0].src = tmp;

				// Swap the text
				if ($(this).children('span').text() === 'front')
					$(this).children('span').text('back');
				else
					$(this).children('span').text('front');
			});
		})
	</script>
	{% block script %}{% endblock %}

 </body>

 </html>