{% extends 'base.html' %}
{% load static %}
{% load album %}

{% block title %}Home{% endblock %}

{% block fburl %}/{% endblock %}
{% block fbdesc %}Polymath is a collective of independent musicians, filmmakers, and writers.{% endblock %}

{% block content %}

<div class="temples-promo"><div class="row">
  <div class="large-12 columns">
    <p>Bird of Paradise</p>
    <h1>Temples</h1>
    <a href="{% url 'apps.music.views.release_detail' 10 %}" class="button">Listen now</a>
  </div>
</div></div>

<div class="row">

  <div class="large-12 columns">

    <!-- INTRO -->
    <div class="homepage-intro">
      <h1 class="tagline">We are Polymath, a collective of independent musicians, filmmakers, and writers.</h1>

      <img src="{% static 'img/logo.svg' %}" alt="Polymath logo" class="logo">

      <p class="followus">Follow us on the Internet to keep up to speed:</p>
      <p class="followlinks">
        <a href="http://facebook.com/PolymathArts" target="_blank" class="facebook">Facebook</a>
        <a href="http://twitter.com/PolymathArts" target="_blank" class="twitter">Twitter</a>
        <a href="http://polymathtk.tumblr.com" target="_blank" class="tumblr">Tumblr</a>
      </p>
    </div>
    <!-- /INTRO -->

    <!-- MUSIC -->
    <h2>Listen to This</h2>
    <div class="row">
      <div class="large-4 columns">
        <img src="{% static 'img/promos/caspiar.jpg' %}" class="thumb" alt="Halloween music">
        <h3>Caspiar</h3>
        <p><a href="{% url 'apps.music.views.artist_detail' 'caspiar' %}">Caspiar</a> is a project by Bloomington-based musician Nick Faidley. Listen to their new single, "Leathe".</p>
        <p><a href="{% url 'apps.music.views.index' %}">Hear more music &rarr;</a></p>
      </div>
      <div class="large-7 columns">
        {% album 9 %}
      </div>
    </div>
    <!-- /MUSIC -->

    <!-- MUSIC -->
    <h2>Listen to This</h2>
    <div class="row">
      <div class="large-4 columns">
        <img src="{% static 'img/promos/jennieandt.jpg' %}" class="thumb" alt="Halloween music">
        <h3>Celebrities E.P.</h3>
        <p><a href="{% url 'apps.music.views.artist_detail' 'cigarettes-and-milk' %}">Cigarettes and Milk</a> is flowery Brit-pop. Listen to the <i>Celebrities E.P.</i>, remastered for the twenty-first century.</p>
        <p><a href="{% url 'apps.music.views.index' %}">Hear more music &rarr;</a></p>
      </div>
      <div class="large-7 columns">
        {% album 8 %}
      </div>
    </div>
    <!-- /MUSIC -->
    
    <!-- VIDEO -->
    <h2>Watch This</h2>
    <div class="row">
      <div class="large-4 columns">
        <img src="{% static 'img/about/outerspaces.jpg' %}" class="thumb" alt="The Outerspaces logo">
        <h3>The Outerspaces</h3>
        <p>The Outerspaces is a film project created to record musicians performing in a visual environment suited to their music. Watch the trailer for the first set, featuring Sapphic.</p>
        <p><a href="{% url 'apps.video.views.index' %}">Watch more videos &rarr;</a></p>
      </div>
      <div class="large-7 columns">
        <div class="flex-video widescreen">
          <iframe id="video-detail-player" width="875" height="492" src="http://www.youtube.com/embed/XBreTDGNlHo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <!-- /VIDEO -->

    <!-- MUSIC -->
    <h2>Listen to This</h2>
    <div class="row">
      <div class="large-4 columns">
        <img src="{% static 'img/promos/halloween.jpg' %}" class="thumb" alt="Halloween music">
        <h3>Halloween Music</h3>
        <p>Check out our special split single for Halloween, featuring a pair of spooky tracks by <a href="{% url 'apps.music.views.artist_detail' 'the-good-morning-players' %}">The Good Morning Players</a> and <a href="{% url 'apps.music.views.artist_detail' 'cigarettes-and-milk' %}">Cigarettes and Milk</a>.</p>
        <p><a href="{% url 'apps.music.views.index' %}">Hear more music &rarr;</a></p>
      </div>
      <div class="large-7 columns">
        {% album 7 %}
      </div>
    </div>
    <!-- /MUSIC -->

  </div>
</div>

{% endblock %}