{% extends 'base.html' %}

{% block title %}{{ artist.name }} - Polymath Musicians{% endblock %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<ul class="artist-detail-index">
			<li>Polymath Artists:</li>
			{% for a in artist_list %}
				<li{% if a.id == artist.id %} class="active"{% endif %}><a href="{% url 'apps.music.views.artist_detail' a.slug %}">{{ a.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row artist-detail-hero"{% if artist.background %} style="background-image: url('{{ artist.background.url }}')"{% endif %}>
	<h1>{{ artist.name }}</h1>
</div>

<div class="row main">
	<div class="large-8 large-centered columns">
		<p class="artist-detail-quote">{{ artist.quote }}</p>
	</div>
	<div class="large-5 columns">
		<img class="artist-detail-photo" src="{{ artist.image.url }}">
	</div>
	<div class="large-7 columns">
		<p>{{ artist.name }} is a project by {{ artist.owner }}.
		{% if artist.biography %}
			<a href="#bio">Read full bio &darr;</a></p>
			<p>{{ artist.biography|safe }}
		{% endif %}</p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<hr class="divider">
		{% if artist.album_set.all|length > 0 %}
			<h2>Albums</h2>
			{% for album in artist.album_set.all %}
				<div class="row">
					<div class="large-5 columns">
						<img src="http://placehold.it/500x500" alt="">
					</div>
					<div class="large-7 columns">
						<h3>{{ album.title }}</h3>
						<p>{{ album.year }}</p>
						<ul>
							{% for track in album.track_set.all %}
								<li><a href="#">{{ track.title }} <span>{{ track.length }}</span></a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="large-12 columns">
						<hr class="divider">
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}