{% extends 'base.html' %}
{% load forloop_next %}

{% block title %}{{ artist.name }} - Polymath Musicians{% endblock %}

{% block content %}
<div class="row">
	<div class="large-12 columns">
		<ul class="artist-detail-index">
			<li>Polymath Artists:</li>
			{% for a in artist_list %}
				<li{% ifequal a.id artist.id %} class="active"{% endifequal %}><a href="{% url 'apps.music.views.artist_detail' a.slug %}">{{ a.name }}</a></li>
			{% endfor %}
		</ul>
		<div class="artist-detail-dropdown">
			<p>Polymath Artists:</p>
			<select onchange="location = '/artists/' + this.options[this.selectedIndex].value;">
			{% for a in artist_list %}
				<option value="{{ a.slug }}">{{ a.name }}</option>
			{% endfor %}
			</select>
		</div>
	</div>
</div>

<div class="row artist-detail-hero"{% if artist.background %} style="background-image: url('{{ artist.background.url }}')"{% endif %}>
	<h1>{{ artist.name }}</h1>
</div>

<div class="row main">
	<div class="large-8 large-centered columns">
		<p class="artist-detail-quote">{{ artist.quote }}</p>
	</div>
	<div class="large-5 columns">
		<img class="artist-detail-photo" src="{{ artist.image.url }}">
	</div>
	<div class="large-7 columns">
		<p>{{ artist.name }} is a project by {{ artist.owner }}.
		{% if artist.biography %}
			<a href="#bio">Read full bio &darr;</a></p>
			<p>{{ artist.biography|safe }}
		{% endif %}</p>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<hr class="divider">
		{% if artist.albums.all|length > 0 %}
			<h2>Albums</h2>
			{% for album in artist.albums.all %}
				<div class="album-view">
					<div class="album-view-cover">
						<img class="cover" src="{{ album.image.url }}" alt="">
					</div>
					<div class="album-view-info">
						<h3 class="title">{{ album.title }}</h3>
						{% if album.artists.all|length > 1 %}
						<p class="info">with
							{# What complex logic to catch a stray comma. #}
							{% for album_artist in album.artists.all %}
							{% if artist.id != album_artist.id %}{{ album_artist.name }}{% if not forloop.last and album.artists.all|next:forloop.counter0 %}, {% endif %}{% endif %}
							{% endfor %}
						</p>
						{% endif %}
						<p class="info">{{ album.year }}</p>
						<a href="{% url 'apps.music.views.release_detail' album.id %}?autoplay" class="button">Listen</a>
						{% if album.download_link %}
						<a href="{{ album.download_link.url }}" class="button">Download</a>
						{% endif %}
						<ul class="tracklist">
							{% for track in album.tracks.all %}
								<li><a href="#">{{ track.title }} <span>{{ track.length }}</span></a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="large-12 columns">
						<hr class="divider">
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}