{% extends 'base.html' %}

{% block title %}Music{% endblock %}

{% block content %}

<div class="row">
	<div class="large-12 columns">
		{% if track_list %}
		<section>
			<h2>What's new</h2>

				<ul class="large-block-grid-4 small-block-grid-1">
				{% for track in track_list %}
					<li>
						<img src="{% if track.image %}{{ track.image.url }}{% else %}{{ track.album.image.url }}{% endif %}" alt="">
						<p>{{ track.title }}</p>
						<p><a href="#">{{ track.artist }}</a></p>
					</li>
				{% endfor %}
				</ul>
		</section>
		{% endif %}

		{% if artist_list %}
		<section>
			<h2>Artists</h2>

			{% load artist_list %}
			{% artist_list %}
		</section>
		{% endif %}

		{% if album_list %}
		<section>
				<h2>Releases</h2>
				
				<ul class="large-block-grid-4 small-block-grid-1">
				{% for album in album_list %}
					<li><a href="#" class="block-link">
						<img src="{{ album.image.url }}" alt="" class="thumb">
						<h3>{{ album.title }}</h3>
						<p><i>{{ album.year }}</i></p>
					</a></li>
				{% endfor %}
				</ul>
		</section>
		{% endif %}
	</div>
</div>

{% endblock %}