{% extends 'base.html' %}

{% load static %}
{% load related_music %}
{% load credits_list %}

{% block title %}"{{ track.title }}" by {{ track.artist }}{% endblock %}

{% block content %}

{% if track.album.color %}
<style type="text/css">
	.track-detail {
		background-image: -webkit-linear-gradient(top, #ce5e5e, #{{ track.album.color }});
	}
	.track-detail .button, .track-detail .button:hover, .track-detail .play-button:after {
		color: #{{ track.album.color }};
	}
</style>
{% endif %}

<div class="track-detail">
	<div class="row">
		<div class="album-art">
			<img src="{% static track.cover %}">
		</div>
		<div class="info">
			<h1 class="title">{{ track.title }}</h1>
			<p class="artist">{{ track.artist }}</p>
			<p class="album">{{ track.album }}</p>

			<div class="audio-player">
				<a href="" class="play-button"></a>
				<div class="seeker">
					<span class="time-current">0:00</span>
					<span class="time-total">{{ track.length }}</span>
				</div>
			</div>

			{% if track.download_link %}
			<a href="{{ track.download_link.url }}" class="button">Download</a>
			{% endif %}
		</div>
	</div>
</div>

<div class="row">
	{% with track_album=track.album %}
	<div class="large-4 columns">
		<h2 class="subheader">Credits</h2>
		{% credits_list track_album %}
	</div>
	<div class="large-8 columns">
		<h2 class="subheader">Listen to <i>{{ track_album.title }}</i></h2>

		<div class="row">
			<div class="large-4 columns">
				<img src="{{ track_album.image.url }}" alt="" style="width: 100%; margin-bottom: 1em;">
			</div>
			<div class="large-8 columns">
				<a href="{% url 'apps.music.views.release_detail' track_album.id %}" class="music button">Listen</a>
				{% if track_album.download_link %}
					<a href="{{ track_album.download_link.url }}" class="music button">Download</a>
				{% endif %}

				<ol class="tracklist">
				{% for track in track_album.track_set.all %}
					<li><a href="#">{{ track.title }} <span>{{ track.length }}</span></a></li>
				{% endfor %}
				</ol>
			</div>
		</div>
	</div>
	{% endwith %}
</div>

{% endblock %}