.credits-list {
  font-weight: 300;

  .person {
    display: inline;
    font-weight: normal;

    &::after {
      // content: ', ';
      font-weight: 300;
    }

    @media #{$small} {
      font-size: 1.25em;
    }
  }
  .credit {
    display: inline;

    &::after {
      content: '';
      display: block;
    }
  }
  a {
    font-weight: normal;
  }
}