@font-face {
  font-family: "Entypo";
  src: url('../fonts/entypo/entypo.eot?zach');
  src: url('../fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
       url('../fonts/entypo/entypo.woff?zach') format('woff'),
       url('../fonts/entypo/entypo.ttf?zach') format('truetype'),
       url('../fonts/entypo/entypo.svg?zach') format('svg');
  font-weight: normal;
  font-style: normal;
}