@font-face {
  font-family: "Entypo";
  src: url('../fonts/icomoon/icomoon.eot?zach');
  src: local('☺'),
       url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
       url('../fonts/icomoon/icomoon.woff?zach') format('woff'),
       url('../fonts/icomoon/icomoon.ttf?zach') format('truetype'),
       url('../fonts/icomoon/icomoon.svg?zach') format('svg');
}