.footer {
  @include grid-row;

  padding: 1em $column-gutter / 2 2em;

  .divider {
    display: block;
  }

  .polymath {
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    position: relative;
    line-height: 1;

    @media screen and (min-width: emCalc(425px)) {
      text-align: left;
    }
  }
  .logo {
    display: none;
    width: 10em;
    margin-right: 3em;
  }
  .nav {
    ul {
      list-style-type: none;
      margin-bottom: 0.5em;
    }
    li {
      font-size: 1em;
      display: inline;
      font-weight: 300;
      margin-right: 0.6rem;

      // Create a line break after the title of each footer nav
      &:first-child::after {
        display: block;
        content: '';

        @media screen and (min-width: emCalc(400px)) {
          display: none;
        }
      }
    }
    a {
      font-weight: normal;
      color: #000;
      &:hover { color: #666; }
    }
    .music a, {
      color: $music-color;
      &:hover { color: lighten($music-color, 15%); }
    }
    .video a {
      color: $video-color;
      &:hover { color: lighten($video-color, 15%); }
    }
    .writing a {
      color: $writing-color;
      &:hover { color: lighten($writing-color, 15%); }
    }
    .audio a {
      color: $audio-color;
      &:hover { color: lighten($audio-color, 15%); }
    }
    .disabled a {
      color: #ccc;
      &:hover { color: #ccc; cursor: default; }
    }
  }

  @media screen and (min-width: emCalc(650px)) {
    text-align: center;
    vertical-align: middle;

    .polymath {
      display: inline-block;
      font-size: 2em;
      margin-right: 2rem;
    }
    .logo {
      display: inline-block;
      width: 5em;
      margin-right: 2rem;
    }
    .nav {
      vertical-align: middle;
      display: inline-block;

      ul {
        margin-bottom: 0.25em;
      }
    }
  }

  @media screen and (min-width: emCalc(1000px)) {
    text-align: left;

    .polymath, .logo, .nav {
      float: left;
    }
    .polymath {
      font-size: 3em;
      margin-right: 3rem;
      top: 0.75em;
    }
    .logo {
      width: 10em;
      margin-right: 3rem;
    }
    .nav {
      font-size: 1.4em;
    }
  }
}