$mobile-nav-break: $small;

.header {
	@include clearfix;

	width: 100%;
	height: 3.5em;
	background: #fff;
	box-shadow: 0 0 10px rgba(#000, 0.5);
	position: relative;
	z-index: 100;

	.row {
		height: 3.5em;

		border: {
			 left: 1px solid #ccc;
			right: 1px solid #ccc;
		}
	}

	.logo {
		height: 3.5em;
		line-height: 3.5em;
		float: left;
		border-right: 1px solid #ccc;
		color: #000;
		padding-right: $column-gutter / 3;

		@media #{$small} {
			padding: {
				left: $column-gutter / 2;
				right: $column-gutter;
			}
		}

		img {
			height: 2.8em;
			margin-right: 0.5em;
			position: relative;
			top: -0.1em;

			@media #{$small} {
				top: -0.5em;
			}
		}
		span {
			color: black;
			font-weight: normal;
			font-size: emCalc(30px);
			display: none;

			@media #{$small} {
				display: inline;
			}
		}
		&:hover span {
			color: #666;
		}
	}
}

.mobile-nav {
	width: 200px;
	float: right;
	display: inline-block;
	margin-top: 1em;

	@media #{$small} {
		display: none;
	}
}

.dept-nav {
	height: 3.5em;
	line-height: 3.5em;
	padding: 0 $column-gutter / 2;
	float: left;
	display: inline-block;
	border-right: 1px solid #ccc;
	margin-bottom: 0;
	display: none;

	li {
		display: inline-block;
	}
	li:not(:last-child) {
		margin-right: $column-gutter / 2;
	}
	a {
		position: relative;
		display: inline-block;
		height: 100%;
		font-size: emCalc(20px);
		font-weight: normal;

		&::after {
			display: none;
			content: '';
			position: absolute;
			width: 100%;
			height: 4px;
			background: #000;
			bottom: 0;
		}
		&:hover::after {
			display: block;
		}
	}
	.music a, {
		&, &:hover { color: $music-color; }
		&::after {
			background: $music-color;
			.music-page & { display: block; }
		}
	}
	.video a {
		&, &:hover { color: $video-color; }
		&::after {
			background: $video-color;
			.video-page & { display: block; }
		}
	}
	.writing a {
		&, &:hover { color: $writing-color; }
		&::after {
			background: $writing-color;
			.writing-page & { display: block; }
		}
	}
	.audio a {
		&, &:hover { color: $audio-color; }
		&::after {
			background: $audio-color;
			.audio-page & { display: block; }
		}
	}
	.disabled a {
		&, &:hover {
			color: #ccc;
			cursor: default;
		}
		&:hover::after {
			display: none;
		}
	}
}

.secondary-nav {
	position: absolute;
	top: 0;
	right: 0;
	list-style-type: none;
	height: 3.5em;
	line-height: 3.5em;
	display: none;

	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		border-left: 1px solid #ccc;
	}
	.about a {
		padding: 0 1em;
	}
	.icon a {
		width: 2em;
		text-align: center;
	}
}

@media #{$small} {
	.dept-nav, .secondary-nav {
		display: block;
	}
}