/*
  MEDIA LIST
  A media list is a collection of links to content of the same type,
  e.g. tracks, albums, stories.

  Modifiers:
    .up-3       1, then 3-up layout
    .up-4       1, then 2, then 3, then 4-up layout

  Component pieces:
    .thumb      Thumbnail image
    .title      Title of work
    .subtitle   Secondary descriptor (artist, author, series)
    .info       Meta info (year, length)
    .flavor     Categorical information or flavor text
*/

$ml: 'media-list';
$title-size: $h3-font-size;

.#{$ml} {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1em;

  &.up-3, &.up-4 {
    @media screen and (min-width: emCalc(450px)) {
      @include block-grid(2);
    }
    @media #{$small} {
      @include block-grid(3, $base-style: false);
    }
  }
  &.up-4 {
    @media screen and (min-width: emCalc(900px)) {
      @include block-grid(4, $base-style: false);
    }

    .title {
      margin-bottom: 0.2em;
    }
    .title, .subtitle {
      line-height: 1.2;
    }
  }
}

.#{$ml}-item {
  margin-bottom: 1em;

  li {
    display: block;
    color: black;
  }
  a {
    .subtitle, .info {
      color: black;
    }
    &:hover + .content .title {
      color: $primary-color;
      -webkit-transition: color 0.25s ease-out;

      .music-page & {
        color: $music-color;
      }
      .video-page & {
        color: $video-color;
      }
      .writing-page & {
        color: $writing-color;
      }
      .audio-page & {
        color: $audio-color;
      }
    }
  }

  .thumb {
    display: block;
    margin-bottom: 1em;
    max-width: 300px;
    width: 100%;
  }
  .widescreen + .content {
    margin-top: -0.75em;
  }
  .cover {
    box-shadow: 0 7px 15px rgba(#000, 0.4);
    &, &:hover {
      -webkit-transition: box-shadow 0.2s ease-out;
    }
    &:hover {
      box-shadow: 0 7px 30px rgba(#000, 0.8);
    }
  }

  .title {
    @include rms(3);
    line-height: 1.1;
    margin-bottom: 0.15em;

    -webkit-transition: color 0.75s ease-out;
    &:hover {
      -webkit-transition: color 0.25s ease-out;
    }
  }
  .subtitle {
    @include rms(2);
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 0.15em;
  }
  .info {
    @include rms(1);
    font-weight: 300;
    margin-bottom: 0.75em;
  }
  .flavor {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1;
  }

  // Layout adjustments
  ul:not(.up-3):not(.up-4) &, &.full-width {
    padding-bottom: 0.75em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.25em;

    &:last-child {
      border: 0;
    }
    .title {
      @include rms(4);
    }
    .subtitle {
      @include rms(3);
    }

    // Shift to horizontal layout
    @media screen and (min-width: emCalc(450px)) {
      & {
        @include clearfix;
      }

      .thumb {
        max-width: none;
        width: 25%;
        float: left;
      }
      .content {
        float: left;
        padding-left: 1.5em;
        width: 75%;
      }
    }
    @media screen and (min-width: emCalc(900px)) {
      .thumb {
        width: 30%;
      }
      .content {
        width: 100% - 30%;
      }
    }
  }
}