$rd: 'release-detail';

.#{$rd}-header {
  @include content-detail-pane;

  .cover {
    @include thumbnail-box-shadow;
    max-width: 300px;

    @media #{$small} {
      max-width: 100%;
    }
  }

  @media #{$small} {
    padding: {
      top: 2em;
      bottom: 2.5em;
    }
  }

  .details {
    @media #{$small} {
      padding-left: 2em;
    }
  }

  .title {
    @include rms(7);
    font-weight: 300;
    margin-bottom: 0.15em;
    line-height: 1;
  }
  .artist {
    @include rms(3);
    font-weight: 300;
    line-height: 1.2;
    color: #666;

    a {
      color: black;
      font-weight: 300;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .info {
    @include rms(1);
    line-height: 1.4;

    dt {
      font-weight: 300;
      display: inline;

      &::after {
        content: ': ';
      }
    }
    dd {
      font-weight: normal;
      display: inline;

      &::after {
        content: ' ';
        display: block;
      }
    }
  }
}