$sd: 'story-detail';

.#{$sd}-header {
  
}

.#{$sd}-info {
  max-width: emCalc(900px);
  margin: 0 auto;

  .title {
    @include rms(7);
    font-weight: 300;
    text-align: center;
  }

  .author {
    text-align: center;
  }
}

.#{$sd}-image {
  display: block;
  width: emCalc(700px);
  max-width: 100%;
  margin: 1em auto;

  @media screen and (min-width: emCalc(725px)) {
    border: 1px solid #ccc;
    box-shadow: 0 5px 20px rgba(#333, 0.4);
    margin-bottom: 2.5em;
  }
}

.#{$sd}-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8rem;
  margin-bottom: 1em;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }

  a {
    margin-right: 1em;

    &:hover {
      color: $writing-color;
      text-decoration: underline;
    }

    &.is-disabled {
      color: #999;
      cursor: default;
    }
  }

  @media screen and (min-width: 725px) {
    position: absolute;
    right: 100%;
    top: 0;
    padding-right: 0.5em;
    font-size: 1em;
    width: 7em;
    text-align: right;

    a {
      display: block;
      line-height: 1.7;
      margin-bottom: 0.25em;
    }
  }
  @media screen and (min-width: 825px) {
    width: 10em;
    padding-right: 2em;
  }
}

.#{$sd}-body {
  max-width: emCalc(470px);
  margin: 0 auto;
  float: none;

  @media screen and (min-width: 725px) {
    position: relative;
  }

  p {
    line-height: 1.4;

    @media #{$small} {
      line-height: 1.7;
    }
  }
}

body {
  @include transition-property(all);
  @include transition-duration(1s);

  &.is-lightsout {
    background: #333;
    color: #fff;

    h1, h2, h3 {
      color: #eee;
    }
    .footer a {
      color: #ccc;
    }
  }
}