$vd: 'video-detail';

.#{$vd}-player {
	background: #333;

  .flex-video {
    margin-bottom: 0;
  }
}
.#{$vd}-info {
  @include content-detail-pane;
  padding-top: 1em;
  margin-bottom: 2em;

  h1 {
    margin: 0;
    font-weight: 300;
    margin-bottom: 0.25em;
  }
  time, p {
    @include rms(1);
  }
  time {
    display: block;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  p {
    line-height: 1.2;
  }
}
.#{$vd}-track {
  @include content-detail-pane;
  background: rgba(#fff, 0.70);

  .get-the-track, .cover, .info {
    display: block;
  }

  .get-the-track {
    @include rms(1);
    text-transform: uppercase;
    color: $video-color;
    font-weight: 700;
    margin-bottom: 0.25em;
  }

  .info {
    @include clearfix;
    padding-top: 0.75em;

    p {
      color: #000;
      margin: 0;
      line-height: $fourth;
    }
  }
    .cover {
      @include thumbnail-box-shadow;
      width: 120px;
      height: 120px;
      margin-right: 1em;
      margin-bottom: 0.25em;
      padding: 0.25em;
    }
    .title {
      @include rms(2);
    }
    .artist {
      @include rms(1);
    }
    .album {
      @include rms(1);
      font-size: 1em;
      font-style: italic;
    }
    .button {
      margin-top: 0.5em;
    }


  @media screen and (min-width: em-calc(550px)) {
    .cover {
      float: left;
      width: 160px;
      height: 160px;
    }
    .info {
      margin-left: 1em;
      float: left;
    }
  }
}