.about-tagline {
  .weis {
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 0.16em;

    @media #{$small} {
      font-size: 6em;
    }

    em {
      font-style: normal;
      color: $primary-color;
    }
  }
  .weis-sub {
    font-size: 1em;
    font-weight: 200;
    line-height: 1.3;

    @media #{$small} {
      font-size: 2em;
      width: 75%;
    }
  }
  .weis-nav {
    font-size: 1em;
    font-weight: 200;
    color: #666;

    @media #{$small} {
      font-size: 1.5em;
    }

    a {
      font-weight: normal;
      padding: 0 0.5em;
    }
  }

  .divider {
    margin: {
      left: 0;
      right: 0;
    }

    @media #{$small} {
      width: 75%;
    }
  }
}

.giant-logo {
  width: 45%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 0.15;
}

.contributor-list {
  list-style-type: none;

  @media screen and (min-width: emCalc(500px)) {
    @include block-grid(2);
    font-size: 1.35em;
    font-weight: 300;

    li {
      padding-bottom: 0;
    }
  }
  @media #{$small} {
    @include block-grid(3, $base-style: false);

    li {
      padding-bottom: 0;
    }
  }
}