.about-tagline {
  @include content-detail-pane;
  position: relative;
  overflow: hidden;

  .weis {
    @include rms(9);
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0.16em;

    em {
      font-style: normal;
      color: $primary-color;
    }
  }
  .weis-sub {
    @include rms(3);
    font-weight: 200;
    line-height: 1.3;

    @media #{$small} {
      width: 75%;
    }
  }
  .weis-nav {
    @include rms(2);
    font-weight: 200;
    color: #666;

    a {
      font-weight: normal;
      padding: 0 0.5em;
    }
  }

  .divider {
    margin: {
      left: 0;
      right: 0;
    }

    @media #{$small} {
      width: 75%;
    }
  }
}

.giant-logo {
  width: 45%;
  position: absolute;
  top: -2.3em;
  right: 0;
  z-index: 0;
  opacity: 0.15;
}

.contributor-list {
  @include rms(2);
  list-style-type: none;
  margin-bottom: 1em;

  @media screen and (min-width: emCalc(500px)) {
    @include block-grid(2);
    margin-bottom: 1em;
    font-weight: 300;

    li {
      padding-bottom: 0;
    }
  }
  @media #{$small} {
    @include block-grid(3, $base-style: false);

    li {
      padding-bottom: 0;
    }
  }
}