$av: 'album-view';

.#{$av} {
  @include grid-row($behavior: nest);
  margin-bottom: 1em;

  @media #{$small} {
    margin-bottom: 2em;
  }
}

.#{$av}-cover {
  @include grid-column(12);
  @include perspective(800px);

  margin-bottom: 1em;
  
  // Container for 3D transform
  .covers {
    position: relative;
    @include transform-style(preserve-3d);
    @include transition-property(transform);
    @include transition-duration(1s);

    &.flipped {
      @include rotateY(180deg);
    }
  }
  // Front and back covers
  .cover {
    width: 100%;
    max-width: 400px;
    @include backface-visibility(hidden);

    @media screen and (min-width: emCalc(650px)) {
      max-width: 100%;
    }
  }
  // Back covers
  .reverse {
    position: absolute;
    top: 0;
    left: 0;
    @include rotateY(180deg);
  }

  // Switch to toggle flip
  .cover-toggle {
    display: block;
    margin-top: 1em;

    img {
      width: 40px;
      margin-right: 0.5em;
    }
    &:hover img {
      opacity: 0.6;
    }
  }
}

.#{$av}-info {
  @include grid-column(12);

  .title {
    @include rms(5);
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0;
  }
  .info {
    @include rms(2);
    font-weight: 300;
    margin-bottom: 0.5em;

    & + .info {
      margin-top: -0.8em;
    }
  }
}

@media screen and (min-width: emCalc(650px)) {
  .#{$av}-cover {
    @include grid-column(4);
  }
  .#{$av}-info {
    @include grid-column(8);
  }
}

@media screen and (min-width: 800px) {
  .#{$av}-cover {
    @include grid-column(5);
  }
  .#{$av}-info {
    @include grid-column(7);
  }
}