$av: 'album-view';

.#{$av} {
  @include grid-row($behavior: nest);
  margin-bottom: 1em;

  @media #{$small} {
    margin-bottom: 2em;
  }
}

.#{$av}-cover {
  @include grid-column(12);

  margin-bottom: 1em;

  .cover {
    width: 100%;
    max-width: 400px;

    @media screen and (min-width: emCalc(650px)) {
      max-width: 100%;
    }
  }
}

.#{$av}-info {
  @include grid-column(12);

  .title {
    margin-bottom: 0;

    @media #{$small} {
      font-size: 2.5em;
      font-weight: 300;
    }
  }
  .info {
    font-style: italic;
    color: #666;

    & + .info {
      margin-top: -1.25em;
    }

    @media #{$small} {
      font-size: 1.25em;
    }
  }
}

@media screen and (min-width: emCalc(650px)) {
  .#{$av}-cover {
    @include grid-column(4);
  }
  .#{$av}-info {
    @include grid-column(8);
  }
}

@media screen and (min-width: 800px) {
  .#{$av}-cover {
    @include grid-column(5);
  }
  .#{$av}-info {
    @include grid-column(7);
  }
}