.artist-list {
  list-style-type: none;

  img {
    display: block;
    margin-bottom: 0.5em;
  }
  h3 {
    text-align: center;
  }

  @media screen and (min-width: emCalc(450px)) {
    @include block-grid(2);
  }
  @media #{$small} {
    // @include block-grid(3, $base-style: false);
  }
}

$ad: 'artist-detail';

.#{$ad}-index {
  list-style-type: none;
  margin: 1em 0;
  display: none;

  @media #{$small} {
    display: block;
  }

  li {
    display: inline;
    margin-right: 1em;
    font-weight: 300;

    a {
      font-weight: normal;
      color: black;
      &:hover {
        color: $music-color;
      }
    }
  }
  .active a {
    color: $music-color;
    &:hover {
      color: $music-color;
      cursor: default;
    }
  }
}

.#{$ad}-dropdown {
  margin: 1em 0;

  p {
    font-weight: 300;
    float: left;
    margin-right: 1em;
  }
  select {
    float: left;
    width: 150px;
    position: relative;
    top: 2px;

    @media screen and (min-width: 425px) {
      width: 230px;
    }
  }

  @media #{$small} {
    display: none;
  }
}

.#{$ad}-hero {
  background: white;
  position: relative;
  z-index: 50;
  padding: 1.5em 0;
  @include background-image(linear-gradient(top, $music-color, #d262e9));

  &[style] {
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  h1 {
    @include rms(9);
    margin: 0;
    color: white;
    text-align: center;

    &.DREW {
      @include rms(8);
      line-height: 1.1;
      padding: {
        top: 0.3em;
        bottom: 0.3em;
      }
    }
  }

  @media screen and (min-width: emCalc(650px)) {
    padding: 3em 0;
  }
  @media screen and (min-width: emCalc(850px)) {
    padding: 5em 0;
    h1 {
      position: relative;
      top: -15px;

      &::after {
        $width: 470px;

        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: $width / 2 * -1;
        width: $width;
        height: 5px;
        background: white;
      }
    }
  }
}

.#{$ad}-info {
  @include content-detail-pane;

  .photo {
    @include thumbnail-box-shadow;
    background: white;
    margin-bottom: 1em;
  }
  .bio {
    @include rms(3);
    font-weight: 300;
    line-height: 1.3;

    a {
      font-weight: 300;
    }
    strong {
      font-weight: normal;
    }
  }
}