.button {
	display: inline-block;
	font-size: 1.2em;
	line-height: 1;
	background: $primary-color;
	border-radius: 1000px;
	margin-right: 0.8em;
	margin-bottom: 0.8em;
	color: #fff;
	padding: 0.5em 1em;
	
	&:hover {
		color: #fff;
	}

	.music-page & {
		background: $music-color;
		color: #fff;
		&:hover {
			background: lighten($music-color, 10%);
			color: #fff;
		}
	}

	.video-page & {
		background: $video-color;
		color: #fff;
		&:hover {
			background: lighten($video-color, 10%);
			color: #fff;
		}
	}

	.writing-page & {
		background: $writing-color;
		color: #fff;
		&:hover {
			background: lighten($writing-color, 10%);
			color: #fff;
		}
	}

	.audio-page & {
		background: $audio-color;
		color: #fff;
		&:hover {
			background: lighten($audio-color, 10%);
			color: #fff;
		}
	}

	// Other button types
	&.giant-play {
		vertical-align: middle;
		font-size: 1.5em;

		&::before {
			vertical-align: text-bottom;
			content: '\25B6';
			position: relative;
			font-size: 1.5em;
			line-height: 0.8;
			margin-right: 0.2em;
			top: -2px;
		}

		@media #{$small} {
			font-size: 2em;
			line-height: 1.2em;

			&::before {
				font-size: 2em;
				line-height: 0.6;
				top: -4px;
			}
		}
	}
}