@font-face {
  font-family: "Entypo";
  src: url('../fonts/entypo/entypo.eot');
  src: url('../fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
       url('../fonts/entypo/entypo.woff') format('woff'),
       url('../fonts/entypo/entypo.ttf') format('truetype'),
       url('../fonts/entypo/entypo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}