$ml: 'media-list';
$title-size: $h3-font-size;

.#{$ml} {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1em;

  &.up-3 {
    @media #{$small} {
      @include block-grid(3);
    }
  }
  &.up-4 {
    @media screen and (min-width: emCalc(450px)) {
      @include block-grid(2);
    }
    @media #{$small} {
      @include block-grid(3);
    }
    @media screen and (min-width: emCalc(900px)) {
      @include block-grid(4, $base-style: false);
    }
  }
}

.#{$ml}-item {
  margin-bottom: 1em;

  li {
    display: block;
    color: black;
  }
  a {
    .subtitle, .info {
      color: black;
    }
    &:hover + .content .title {
      color: $primary-color;
      -webkit-transition: color 0.25s ease-out;

      .music-page & {
        color: $music-color;
      }
    }
  }

  .thumb {
    display: block;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    max-width: 300px;
    width: 100%;
  }
  .cover {
    box-shadow: 0 7px 15px rgba(#000, 0.4);
    &, &:hover {
      -webkit-transition: box-shadow 0.2s ease-out;
    }
    &:hover {
      box-shadow: 0 7px 30px rgba(#000, 0.8);
    }
  }
  .title {
    margin-bottom: 0.25em;
    -webkit-transition: color 0.75s ease-out;
    &:hover {
      -webkit-transition: color 0.25s ease-out;
    }
  }
  .subtitle {
    font-weight: 300;
    font-size: $title-size - emCalc(8px);
    line-height: 1.4;
    margin-bottom: 0.15em;
  }
  .info {
    font-weight: 300;
    font-style: italic;
  }

  .flavor {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1;
  }

  // Typographic adjustments
  @media screen and (min-width: emCalc(650px)) {
    .title {
      margin-bottom: 0;
      font-size: $title-size;
    }
    .subtitle {
      font-size: $title-size - emCalc(3px);
    }
    .info {
      font-size: 1.25em;
      margin-bottom: 0.75em;
    }
  }
  @media screen and (min-width: emCalc(800px)) {
    .title {
      font-size: $title-size + emCalc(4px);
    }
    .subtitle {
      font-size: $title-size;
    }
  }

  // Layout adjustments
  ul:not(.up-3):not(.up-4) & {
    padding-bottom: 0.75em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.25em;

    &:last-child {
      border: 0;
    }

    // Shift to horizontal layout
    @media screen and (min-width: emCalc(450px)) {
      & {
        @include clearfix;
      }

      .thumb {
        max-width: none;
        width: 25%;
        float: left;
      }
      .content {
        float: left;
        padding-left: 1.5em;
        width: 75%;
      }
    }
    @media screen and (min-width: emCalc(900px)) {
      .thumb {
        width: 30%;
      }
      .content {
        width: 100% - 30%;
      }
    }
  }
}