/*
	Hero unit for tracks
*/
.track-detail {
	background: $music-color;
	color: #fff;
	margin-bottom: 1em;
	
	@media #{$small} {
		text-align: left;
		padding: 1em 0;
	}
	
	.row {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	// Album art
	.album-art {
		@include grid-column(12);
		margin-bottom: 1em;
		
		img {
			width: 100px;
			max-width: emCalc(320px);
			border: 2px solid #fff;
			box-shadow: 0 5px 20px rgba(#000, 0.5);
		}

		@media #{$small} {
			@include grid-column(4);
			img {
				width: 100%;
				border-width: 6px;
			}
		}
	}

	// Track info
	.info {
		@include grid-column(12);
		
		@media #{$small} {
			@include grid-column(7);
		}
	}
	// Track title
	.title {
		display: inline-block;
		line-height: 100%;
		color: #fff;
		font-weight: 300;
		font-size: 1.5em;
		margin: 0;
		line-height: 1.5;

		@media #{$small} {
			font-size: 3.5em;
			line-height: 1.3;
		}
	}
	.artist, .album {
		font-size: 1em;
		margin: 0;
		line-height: 1.3;

		@media #{$small} {
			font-size: 1.5em;
			line-height: 1.2;
		}
	}
	.album {
		font-style: italic;
	}

	.play-button {
		background: #fff;

		&::after {
			color: $music-color;
		}
		&.paused::after {
			background: $music-color;
			-webkit-box-shadow: 0.3em 0 0 $music-color;
			        box-shadow: 0.3em 0 0 $music-color;
		}
		&:hover {
			$hover-color: lighten($music-color, 20%);
			&::after {
				color: $hover-color;
			}
			&.paused::after {
				background: $hover-color;
				-webkit-box-shadow: 0.3em 0 0 $hover-color;
				        box-shadow: 0.3em 0 0 $hover-color;
			}
		}
	}

	.button {
		background: white;
		color: $music-color;

		&:hover {
			background: white;
			color: lighten($music-color, 20%);
		}
	}
}

.audio-player {
	margin: 1.5em 0;

	.play-button {
		display: inline-block;
		margin-right: 1em;
		vertical-align: middle;
	}
	.seeker {
		display: inline-block;
		font-size: 1.5em;
		vertical-align: middle;
	}
	.time-current::after {
		content: ' /';
	}
	.time-total {
		opacity: 0.75;
	}
}