@import "settings";
@import "normalize";

@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/flex-video";
@import "foundation/components/panels";

@import "compass/css3";

@import "fonts";
@import "colors";
@import "links";

@import "header";
@import "footer";
@import "sidebar";

@import "audio-player";

@import "panel";
@import "buttons";
@import "play-button";

@import "media-list";
@import "tracklist";
@import "credits-list";
@import "album-view";

@import "homepage";
@import "about";

@import "track-detail";
@import "release-detail";
@import "artist";

@import "video-detail";

@import "writer-list";
@import "story-detail";

body {
	-webkit-font-smoothing: antialiased;

	$ege-color: rgba(0,0,0,0.1);
	$transparent: rgba(0,0,0,0);
	
	@media screen and (min-width: $row-width + 10em) {
		@include background(linear-gradient(left, $ege-color 0%, $transparent 10%, $transparent 90%, $ege-color 100%));
	}
}

h2 {
  padding-bottom: 0.1em;
  border-bottom: 1px solid #999;
  margin-bottom: 0.75em;

  &.subheader {
    border: none;
    color: #666;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4em;

    @media #{$small} {
      font-size: 1.75em;
    }
  }
}

ul, ol {
	list-style-position: inside;
}

ul[class*="large-block-grid"] li a {
  display: block;
}

.thumb {
  width: 100%;
  display: block;
  margin-bottom: 0.75em;
}

// .thumb {
//   margin-bottom: 0.75em;
//   width: 300px;

//   @media #{$small} {
//     width: 100%;
//   }
// }

.main {
  padding: 1em;
  box-shadow: -30px -30px 45px -30px rgba(#000, 0.5), 30px -30px 45px -30px rgba(#000, 0.5);
}

.divider {
  max-width: $row-width;
  height: 1px;
  background: #999;
  border: 0;
  outline: 0;
  clear: both;
  margin: 2em auto;
  display: none;

  @media #{$small} {
    margin: 3em auto;
  }
}

.dept-promo {
  display: block;
  position: relative;
  margin: 1em 0;

  .background {

  }
  .content {
    background: #000;
    padding: 1em;

    p {
      font-size: 1em;
      margin-bottom: 0em;
      line-height: 1.4;

      &:not(.link) {
        color: #ccc;
      }
    }
    .link {
      font-weight: 600;
      font-size: 1.5em;
    }
  }

  @media #{$small} {
    margin: 1.5em 0;

    .content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.5em;

      // For black stuff
      text-shadow: 0 0 20px black;

      p {
        font-size: 1.5em;
      }
      .link {
        font-size: 2em;
      }
    }
  }
}

.related-track {
  @include clearfix;

  display: inline-block;
  box-shadow: 0 4px 10px rgba(#000, 0.5);
  padding: 0.5em;
  vertical-align: middle;

  a {
    @include clearfix;
    display: block;
  }

  .album-art {
    width: emCalc(70px);
    display: inline-block;
    margin-right: 1em;
    float: left;
  }
  .info {
    display: inline-block;
    float: left;
    padding-top: 0.75em;

    p {
      color: #000;
      margin: 0;
    }
  }
  .album {
    font-size: 1em;
  }
  .link {
    display: block;
    float: left;
    position: relative;
    padding-top: 1.5em;
    padding-left: 2em;
  }

  &:hover {
    .info p, .link {
      color: lighten($video-color, 10%);
    }
  }
}

$rl: 'release-list';
.#{$rl} {
  @include grid-row(nest);
}
.#{$rl}-main, .#{$rl}-sidebar {
  @include grid-column(12);
}
@media #{$small} {
  .#{$rl}-main {
    @include grid-column(8);
  }
  .#{$rl}-sidebar {
    @include grid-column(4);
  }
}

// @import "foundation/components/visibility";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

