@import "settings";
@import "normalize";

@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/flex-video";

@import "compass/css3";

@import "colors";

@import "header";
@import "footer";
@import "sidebar";

@import "buttons";
@import "play-button";

@import "about";
@import "track-detail";
@import "artist";
@import "video-detail";

body {
	-webkit-font-smoothing: antialiased;

	$ege-color: rgba(0,0,0,0.1);
	$transparent: rgba(0,0,0,0);
	
	@media screen and (min-width: $row-width + 10em) {
		@include background(linear-gradient(left, $ege-color 0%, $transparent 10%, $transparent 90%, $ege-color 100%));
	}
}

$link-highlight-factor: 25%;

a {
  font-weight: 600;

  &.block-link {
    display: block;
  }

  &:hover {
    color: lighten($primary-color, $link-highlight-factor);
  }
  h3:hover {
    color: $primary-color;
  }

  .music-page & {
    color: $music-color;
    &:hover {
      color: lighten($music-color, $link-highlight-factor);
      h3 { color: $music-color; }
    }
  }
  .video-page & {
    color: $video-color;
    &:hover {
      color: lighten($video-color, $link-highlight-factor);
      h3 { color: $video-color; }
    }
  }
}
ul, ol {
	list-style-position: inside;
}

.thumb {
  margin-bottom: 0.75em;

  @media #{$small} {
    width: 100%;
  }
}

.main {
  box-shadow: -30px -30px 45px -30px rgba(#000, 0.5), 30px -30px 45px -30px rgba(#000, 0.5);
}

.divider {
  max-width: $row-width;
  height: 1px;
  background: #999;
  border: 0;
  outline: 0;
  clear: both;
  margin: 2em auto;

  @media #{$small} {
    margin: 3em auto;
  }
}

.dept-hero-image {
  display: block;
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  .background {

  }
  .content {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;

    p {
      font-size: 1.5em;
      margin-bottom: 0em;

      // For black stuff
      text-shadow: 0 0 20px black;

      &:not(.link) {
        color: #ccc;
      }
    }
    .link {
      font-weight: 600;
      font-size: 2em;
    }
  }
}

// @import "foundation/components/visibility";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

