/* LOGIN FORM */

body.login {
    background: #fff;
}

.login #container {
    width: 28em;
    min-width: 338px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.login #container:after {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -175px;
    margin-left: -45px;
    content: '\8fce';
    color: #666;
    font-size: 7em;
}

.login #content-main {
    width: 100%;
}

.login #header {
    background: #fff;
    color: #000;
    pointer-events: none;
    border: 0;
}
.login #header #site-name {
    border: 0;
    font-size: 25px;
    font-weight: 300;
}
.login #site-name {
    text-align: center;
    margin: 0;
    padding: 0;
}

.login form {
    margin-top: 1em;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.login .form-row label {
    display: none;
}

.login .form-row #id_username, .login .form-row #id_password {
    width: 300px;
    background: transparent;
    margin-bottom: 8px;
    font-size: 2em;
    border-width: 0;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 8px;
    color: #4a908e;
}
.login .form-row #id_username:focus, .login .form-row #id_password:focus {
    outline: none;
    border-color: #4a908e;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    padding: 3em 0 0 0;
    text-align: center;
}

.login input[type='submit'] {
    background: #4a908e;
    color: #fff;
    border-radius: 100px;
    padding: 10px 30px;
    display: inline-block;
    font-size: 1.75em;
    font-weight: bold;
    border: 0;
    -webkit-transition: background-color 0.1s linear;
}
.login input[type='submit']:hover {
    background: #5cb5b3;
    color: #fff;
    cursor: pointer;
}

.login .password-reset-link {
    text-align: center;
}

.errornote {
    background: white;
    padding: 0.5em;
}