<div class="large-5 columns">
	<h2>Explore Polymath</h2>

	<ul class="dept-icon-list">
		<li class="music"><a href="#">Music <span>20 tracks</span></a></li>
		<li class="video"><a href="#">Video <span>4 videos</span></a></li>
		<li class="writing"><a href="#">Writing <span>15 works</span></a></li>
	</ul>

	<h2>Follow Us</h2>

	<ul class="social-icon-list">
		<li class="facebook"><a href="#">Facebook <span>polymathtk</span></a></li>
		<li class="twitter"><a href="#">Twitter <span>polymathtk</span></a></li>
		<li class="tumblr"><a href="#">Tumblr <span>polymathtk</span></a></li>
		<li class="youtube"><a href="#">YouTube <span>polymathcollective</span></a></li>
	</ul>
</div>